{
  "presets": [
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": true,
        "fileName": false
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-transform-runtime"
  ]
}
